

/*colors*/

p {
  color:rgb(0, 255, 55);
   
  /*background-color:aqua;*/
}



h1 {
  color:rgb(255, 255, 0);
  text-align:center;
  border: 3.25mm ridge rgba(255, 0, 0, .6);
   
}
h2 {
  color:rgb(0, 204, 255);
  text-align:center;
   
}


h3 {
  color:rgb(0,255,127);
   
  /*background-color:aqua;*/
}
h5 {
  color:rgb(0,255,127);
  
}
h6 {
  color:rgb(0,255,127);
  
}
/*list colors*/
.list {
  color:rgb(0,255,127);

  /*background-color:aqua;*/
}


#contact {
 color:springgreen;
 background-color:orangered;
}
/*Background*/

body {
  background-color:seagreen;
}
.squids {
 /*MDN helped me with this*/
  background-image: url(https://lh3.googleusercontent.com/Xg75YsWqg9CAfJ_jt6ZdL5nRVo2WorvOeiXi6U-m9m8UL362aFUaMq9heJJup5FLyiOfVVKqjWAalWGDjbuTpcF44fyLKbs8UcNeY5d5_NSdnxFnDebS9zBB1-PkqpjRykN-KK0ovXP7vINeFTzV4O2V61nUUVWx7Nb57oosP3ZxoKnu_bSJQgNDt2WamaWvRWL3YbaIoMXVidnHpz1DTia2ZXl5Hvz-HOPeTVYTQnB49RK2ph6hDySvzzZ5v8Kcb4WtPor5GqGGVV9FAxvtY28Ppexl7JRW3AhvUI_sqaoFmmsS0Y94d5t-IhrapKr0qgiIs8JXOQY-JmZRqC0Op40whdbKRckkCxJpMXNkka-T8LBgVaJaBBOxCs8a1a1rHtuAn0TdMnMnzTxANZJGYAyj-btpvbKFjVbdVqskOFk2p0bAwQZrv0nYJuIqeh5pvMecGqSntCAGlag_9ogZxhXtLADEgxc740x_Wpy9GqFlHT-3la4vhtra5e4icY73nb1YacXEI4moFrYPJL9neI___ARAdTM-dvD_qlOgaKSdTkovUG6P-n912QYfdzI5ps_pfERxZEUSPRd6yiNQvvXUSQ_Eq9PM2RhTFE3-xD8DTCS87bU3GZZNLrKJ7K9_YnLN-o7iaTx2bw4cDSbUF1Pbt9Fxyn-EnKqCi2oBMMM9NR4ucw-OQOOb70df_A=w601-h530-no?authuser=1);

 height:auto;
 border:2px solid;
 color:skyblue;
 background-color:slateblue;
 background-repeat: no-repeat;
 background-size:100%;

 margin-left:5px;
 margin-right:5px;
 font-family:'ZCOOL Kuaile';
 /*font-family:'Black Ops One';*/
}


/*buttons*/
/*w3schools*/
.button {
  display: inline-block;
  padding: 5px 8px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#unavaliable {
  cursor:not-allowed;
  opacity:0.6;
}


/*Links*/

a:link {
  color:blue;
  background-color:springgreen;
}

a:visited {
  color:magenta;
  background-color:blueviolet;
}

#games {
  color:fuchsia;
}

#demo {
  color:limegreen;
}

